:host {
  @media (max-width: 767px) {
    display: block;
  }
}

// Contenedor principal que envuelve toda la app
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main-content {
  flex-grow: 1;
  // ¡Paso Clave! Añadimos un padding-top igual a la altura del header
  // para que el contenido no empiece oculto detrás de él.
  // Esto es una aproximación, lo ajustaremos si es necesario.
  padding-top: 80px;
}

app-header {
  // Hacemos que el header sea fijo en la parte superior
  position: fixed;
  top: 0; // Lo pegamos arriba
  left: 0;
  width: 100%;
  z-index: 100;
}
