/**
 * Estilos específicos para el componente raíz (app-root).
 */

:host {
  display: block; // Importante
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; // Prevención global
}

.main-content {
  flex-grow: 1;
  position: relative;
  z-index: 2; // Por encima del footer
  background-color: transparent; // Dejamos que el fondo del body o de los componentes se vea
  width: 100%;
  
  // Asegúrate de NO tener padding aquí
  padding: 0; 
}

app-header {
  // Fija el header en la parte superior de la ventana gráfica.
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; // Lo coloca por encima de la mayoría del contenido.
}

app-footer {
  display: contents;
}
