/**
 * Estilos específicos para el componente raíz (app-root).
 */

:host {
  // Asegura que el componente raíz se comporte como un bloque en pantallas móviles.
  @media (max-width: 767px) {
    display: block;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main-content {
  flex-grow: 1;
  padding-top: 80px;

  position: relative;
  z-index: 1;
  background-color: var(--background-page);
}

app-header {
  // Fija el header en la parte superior de la ventana gráfica.
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; // Lo coloca por encima de la mayoría del contenido.
}

app-footer {
  display: contents;
}
