<header class="page-header">
  <h1>Categorías</h1>
  <a routerLink="/admin/categories/new" class="btn-material icon-btn" appRipple>
    <span class="material-symbols-outlined">add</span>
    <span class="text">Nueva</span>
  </a>
</header>

<!-- BARRA DE BÚSQUEDA FLOTANTE -->
<div class="search-bar-wrapper">
  <div class="search-field">
    <span class="material-symbols-outlined">search</span>
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="Buscar categoría..."
      class="search-input"
    />
  </div>
</div>

<div class="table-container">
  @if (isLoading()) {
    <div class="loading-state">
      <div class="spinner"></div>
      <p>Cargando catálogo...</p>
    </div>
  } @else if (categories().length > 0) {
    <div class="category-list-grid" [@listAnimation]="categories().length">
      <!-- CABECERA (SOLO DESKTOP) -->
      <div class="category-row header">
        <div class="col img-col">Imagen</div>
        <div class="col name-col">Nombre</div>
        <div class="col slug-col">Slug (URL)</div>
        <div class="col actions-col right">Acciones</div>
      </div>

      <!-- FILAS -->
      @for (category of categories(); track category._id) {
        <div class="category-row item">
          <!-- Imagen -->
          <div class="col img-col">
            <div class="img-wrapper">
              <img
                [src]="category.imageUrl"
                [alt]="category.name"
                loading="lazy"
              />
            </div>
          </div>

          <!-- Nombre -->
          <div class="col name-col" data-label="Nombre">
            {{ category.name }}
          </div>

          <!-- Slug -->
          <div class="col slug-col" data-label="URL">
            <span class="url-badge">/{{ category.slug }}</span>
          </div>

          <!-- Acciones -->
          <div class="col actions-col right" data-label="Acciones">
            <div class="actions-wrapper">
              <a
                [routerLink]="['/admin/categories/edit', category._id]"
                class="action-btn edit"
                title="Editar"
                appRipple
              >
                <span class="material-symbols-outlined">edit</span>
              </a>
              <button
                (click)="deleteCategory(category._id)"
                class="action-btn delete"
                title="Eliminar"
                appRipple
              >
                <span class="material-symbols-outlined">delete</span>
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="empty-state">
      <span class="material-symbols-outlined icon">category</span>
      <p>No has creado ninguna categoría.</p>
      <a routerLink="/admin/categories/new" class="btn-link"
        >Crear la primera</a
      >
    </div>
  }
</div>
