<!-- En: frontend/src/app/components/featured-products/featured-products.html -->

@if (productsSignal().length > 0) {
<section class="card">
  <div class="card-header">
    <h2 class="card-title">Nuestros Favoritos</h2>
    <button (click)="openExplorer()" class="btn btn-secondary">Ver todo</button>
  </div>

  <div class="content-wrapper">
    <div class="swiper featured-grid">
      <div class="swiper-wrapper">
        <!-- Iteramos sobre TODOS los productos -->
        @for (product of productsSignal(); track product._id) {
        <div class="swiper-slide">
          <app-product-card [product]="product"></app-product-card>
        </div>
        }
      </div>
    </div>
  </div>
</section>
}
