<a [routerLink]="['/product', product._id]" class="product-card" [class.out-of-stock]="isOutOfStock()">
  
  <!-- Badge de Stock -->
  @if (isOutOfStock()) {
    <div class="stock-badge">Agotado</div>
  }

  <!-- Imagen Contenida -->
  <div class="image-container">
    @if (product.images.length > 0) {
      <img [src]="product.images[0]" [alt]="product.name" class="product-image" loading="lazy" />
    } @else {
      <div class="image-placeholder"></div>
    }
    
    <!-- Botones de Acción (Ahora dentro del contenedor de imagen para posicionamiento relativo) -->
    <div class="action-bubbles">
      <!-- Botón Carrito -->
      <button class="bubble-button" (click)="addToCart($event)" title="Añadir al carrito">
        <span class="material-symbols-outlined">shopping_bag</span>
      </button>
      <!-- Botón Wishlist -->
      <button class="bubble-button" [class.active]="isProductInWishlist()" (click)="toggleWishlist($event)" title="Favoritos">
        <span class="material-symbols-outlined">{{ isProductInWishlist() ? 'favorite' : 'favorite_border' }}</span>
      </button>
    </div>
  </div>

  <!-- Info -->
  <div class="card-content">
    <h3 class="product-name">{{ product.name }}</h3>
    <span class="price">{{ displayPrice | currency:'COP':'symbol':'1.0-0' }}</span>
  </div>
</a>