@if (event) {
<section class="event-banner-container" data-aos="fade-up">
  <div class="banner-background">
    <img [src]="event.imageUrl" alt="{{ event.title }}" />
  </div>

  <div class="banner-content">
    <div class="text-content">
      <h1 class="event-title">{{ event.title }}</h1>
      @if(event.subtitle) {
      <p class="event-subtitle">{{ event.subtitle }}</p>
      }
    </div>

    <!-- ¡NUEVO! Botón de Llamada a la Acción en lugar del carrusel -->
    @if (event.linkedProducts && event.linkedProducts.length > 0) {
    <div class="cta-container">
      <button (click)="scrollToProducts()" class="btn-material" appRipple>
        Ver Productos Sugeridos
      </button>
    </div>
    }
  </div>
</section>
}
