<div class="cart-container" @listAnimation>
  <div class="cart-header">
    <h2 class="cart-title">Tu Carrito</h2>
    @if (cartService.totalItems() > 0) {
    <button
      (click)="clearCartWithConfirmation()"
      class="clear-cart-btn"
      appRipple
    >
      Limpiar
    </button>
    }
  </div>

  @if (cartService.totalItems() > 0) {
  <div class="cart-grid">
    <!-- Columna de Items -->
    <div class="items-column">
      @for (item of cartService.cartItems(); track item.id) {
      <div class="cart-item-card">
        <img
          [src]="item.product.images[0]"
          [alt]="item.product.name"
          class="item-image"
        />
        <div class="item-info">
          <h3 class="item-name">{{ item.product.name }}</h3>
          <div class="item-variants">
            @for (variantKey of objectKeys(item.selectedVariants); track
            variantKey) {
            <span>{{ item.selectedVariants[variantKey] }}</span>
            }
          </div>
          <p class="item-price-unit">
            {{ finalItemPrice(item) | currency : "COP" : "symbol" : "1.0-0" }} /
            ud
          </p>
        </div>
        <div class="item-controls">
          <div class="quantity-selector">
            <button
              (click)="cartService.updateQuantity(item.id, item.quantity - 1)"
              appRipple
            >
              -
            </button>
            <span class="quantity-text">{{ item.quantity }}</span>
            <button
              (click)="cartService.updateQuantity(item.id, item.quantity + 1)"
              appRipple
            >
              +
            </button>
          </div>
        </div>
        <p class="item-total">
          {{
            finalItemPrice(item) * item.quantity
              | currency : "COP" : "symbol" : "1.0-0"
          }}
        </p>
      </div>
      }
    </div>

    <!-- Columna de Resumen -->
    <aside class="summary-column">
      <div class="summary-card">
        <h3 class="summary-title">Resumen</h3>
        <div class="summary-details">
          <div class="summary-row">
            <span>Subtotal</span>
            <span>{{
              cartService.subTotal() | currency : "COP" : "symbol" : "1.0-0"
            }}</span>
          </div>
          <div class="summary-row">
            <span>Envío</span>
            <span class="summary-note">Calculado después</span>
          </div>
        </div>
        <div class="summary-total">
          <span>Total</span>
          <span>{{
            cartService.subTotal() | currency : "COP" : "symbol" : "1.0-0"
          }}</span>
        </div>
        <a routerLink="/checkout" class="checkout-button" appRipple
          >Ir a Pagar</a
        >
      </div>
    </aside>
  </div>
  } @else {
  <div class="empty-cart-message">
    <p>Tu carrito de sueños está vacío.</p>
    <a routerLink="/" class="explore-button" appRipple>Explorar productos</a>
  </div>
  }
</div>